.footer-mains{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    background-color: rgb(11,82,91);
    /* font-family: 'Josefin Sans', sans-serif; */
    color: #fff;
    padding: 4rem 0rem;
}
.footer-about>h3{
    font-size: 2rem;
}
.footer-subscribe>h3{
    text-transform: capitalize;
}
.email1{
    padding: 1rem;
    text-align: center;
    border: none;
   
}
.email2{
    color: #fff;
    background-color: red;
    border: none;
}
.email2:hover{
    cursor: pointer;
    
}
.footer-socialone{
    display: flex;
}
.footer-subscribe>h3{
    text-align: center;
}